<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yww.admin.system.mapper.UserMapper">

    <select id="getRoleIdByUserName" resultType="java.lang.String">
        SELECT role_id FROM user_role
            LEFT JOIN user u on user_role.user_id = u.id WHERE u.username = #{username}
    </select>

</mapper>
